# Never commit .env 

GEMINI_API_KEY=keyhere
SUPABASE_URL=urlhere
SUPABASE_ANON_KEY=keyhere
SUPABASE_DB_URL=dburlhere
VIRUSTOTAL_API_KEY=keyhere
FRONTEND_ORIGIN=urlhere

# limits
DAILY_CREDIT_LIMIT=1
MAX_INPUT_LENGTH=1
MAX_FILE_LINES=1